*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.outer-div{
    /* width: 800px;
    height: 400px; */
    background-color: aqua;
    padding: 50px;
    text-align: center;
     border: 3px solid black;
     
}
.inner-div {
    /* width: 600px;
    height: 300px; */
    background-color: greenyellow;
    padding: 50px;
     border: 3px solid black;
}
h1 {
    /* width: 400px;
    height: 200px; */
    background-color: brown;
    color:white;
    padding: 20px;
    border: 3px solid black;
}