 body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 .grid {
    width: 60vw;
    height: 70vh;
    border: 1px solid aquamarine;
    display: grid;
   grid-template-columns:1fr 3fr;
   grid-template-rows: 1fr 2fr 1fr ;
   
}
 .red {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
 }
 .blue {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
 }
 .green {
    background-color: green;
     grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
 }
 .orange {
    background-color: orange;
     grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
 }
  