body {
    margin: 0;
    padding: 0;
    align-self: center;
    align-content: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: floralwhite;
    font-family: 'Times New Roman', Times, sans-serif;
    box-sizing: border-box;
    border: 5px solid black;

}
.grid {
    width: 260px;
    height: 360px;
    border :2px rgb(12, 12, 12);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  repeat(5 1fr);
    border: 5px solid black;


}
.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    border: 1px solid black;
}
.header {
    background-color: aqua;
    grid-column: 1/5;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    
}
.seven {
    background-color: cornflowerblue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    color: white;
    cursor: pointer;
}
.eight {
    background-color: cornflowerblue;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
     color: white;
    cursor: pointer;

}
.nine {
    background-color: cornflowerblue;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
     color: white;
    cursor: pointer;
}
.four {
    background-color: cornflowerblue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
     color: white;
    cursor: pointer;
}
.five {
    background-color: cornflowerblue;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
     color: white;
    cursor: pointer;
}
.six {
    background-color: cornflowerblue;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
     color: white;
    cursor: pointer;
}
.one {
    background-color: cornflowerblue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
     color: white;
    cursor: pointer;
}
.two {
    background-color: cornflowerblue;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
     color: white;
    cursor: pointer;
}
.three {
    background-color: cornflowerblue;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
     color: white;
    cursor: pointer;
}
.zero  {
    background-color: cornflowerblue;
    grid-column-start: 2 ;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
     color: white;
    cursor: pointer;
}
.enter:hover {
    background-color: cornflowerblue;
    grid-column: 4/5;
    grid-row: 2/6;
    writing-mode: vertical-rl;
    text-orientation:mixed;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
     
}