* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 350px;
  background: #fff;
  padding: 20px;
  margin: 80px auto;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.input-box {
  display: flex;
  gap: 10px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 16px;
}

.input-box button {
  padding: 10px 20px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 
 

#todo-items {
  margin-top: 20px;
  text-align: left;
}

.todo-item {
  background: #f9f9f9;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.todo-buttons {
  display: flex;
  gap: 8px;
}
 
.todo-buttons button:first-child {
  background: #2196f3;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.todo-buttons button:last-child {
  background: #f44336;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.todo-item input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
}


 
