/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    background-color: aquamarine;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    height: 50px;
    width: 50px;
    border: 1px;
    border-radius: 50px;
    background-color: black;
    display: inline-block;
    animation: popat 1s linear 0ms infinite;
    animation-direction: alternate;
    /* position: relative;
    top: 250px;
    margin:0 auto; */
/* }
.b1 {
    transition-delay: 2s;
}
.b2 {
    transition-delay: 3s;
}
.b3 {
    transition-delay: 4s;
}
.b4 {
    transition-delay: 5s;
}
.b5 {
    transition-delay: 5s;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100%;
}

.container{
    width:100vw;
    height:100vh;
    display: flex;
    background-color: rgb(43, 191, 224);
}
.box{
    height: 100px;
    width: 100px;
    border: 30px;
    border-radius: 50px;
    background-color:rgb(255, 0, 85);
    position:relative;
    display:inline-block;
    top: 200px;
    margin: 0 auto;
    animation-name: popat;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /* left: 50%;
    right: 50%; */
}
.animation1{
    animation-delay: 2s;
}
.animation2{
    animation-delay: 3s;
}
.animation3{
    animation-delay: 4s;
}
.animation4{
    animation-delay: 5s;
}
.animation5{
    animation-delay: 6s;
}


@keyframes popat{
     from{
        transform: translate(0);
     }
     to{
        transform: translateY(-200px);
     }
}

/* @keyframes popat {
    from {
        transform: translate(0);
    }
    to 
    {
        transform: translateY(-200px);
    }
}  */