* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: yellowgreen;
}
.container {
    height: 100vh;
    width: 100vw;
    
    
}
.box {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 1%;
    bottom: 1%;
    background-color: antiquewhite;
     border: 1px;
     border-radius: 50px;
     
     

}
body:hover .box {
    left: 100%;
    bottom: 100%;
   
}
.transition {
    transition-property: all;
    transition-duration: 3s;

}