*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 100px;
}
.container .box {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    background-color: rgb(255, 0, 38);
    text-align: center;
    padding: 10px;
    border: solid black;
    border-width: 10px 10px;
}
body:hover .box {
    /* width: 500px;
    background-color: antiquewhite; */
    /* transform: scale(0.4, 1.5);0.4 gets applied in  x axis horizontally and 1.5 gets applied in y axis vertically */
    /* transform: rotate(-45deg); positive value rotates clockwise and negative value rotates anticlockwise*/
    /* transform: rotate(0.5turn);1 turn = 360 deg rest behaviour is same */
    /* transform: skew(30deg, 30deg);skew give first value as x axis and second as y axis */
    transform: translate(100%);
    transform: translate(40px);  
    transform: translate(50%, 200px);
    /* we can combine all the transform attributes
        try to find and understand these two transform
    */
    transform: rotate(45deg) translate(200px); 

}
/*  x-> -ve-> left
    x-> +ve-> right
    y-> +ve -> down 
    y-> -ve -> up axis behaviour in css
*/