* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.container {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}
.image {
    padding: 20px, 30px, 40px, 30px;
    margin-top: 100px;
}
.para {
    color: grey;
     
}
.layout {
    padding-top: 10px;
}
.form {
    border: none;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 450px;
    padding-top: 50px;
    
}
 .form button  {
    border: 1px ;
    height: 40px;
    width: 300px;
    background-color: rgb(71, 71, 242);
    border-radius: 7px;
    color:white;
    padding: 14px, 18px;
    
   
 }
 .heading h1, p{
    padding: 10px, 0px;
 }
 .form p {
    color: gray;
    font-size: 12px;
    margin-top: 15px;
 }
 .mail {
    border: 1px solid rgb(224, 224, 224); 
    border-radius: 10px;
    height: 40px;
    width: 300px;
    color: black;
    text-align: center ;
    padding-bottom: 14px 18px;
 }
.content{
    padding: 20px;
}
 
 @media (max-width:560px) {
    .container{
        padding: 40px 20px;
    }
    
 }