/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
}

.heading {
  text-align: center;
  margin-bottom: 40px;
}

.heading h1 {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.4;
}

.lines {
  color: #ccc;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin-top: 10px;
}
.div1 , .div2 , .div3 {
    display: flex;
    flex-direction: column;
}

.firstimg, .secondimg, .thirdimg {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 15px;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
}

h4 {
  color: #888;
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 6px;
}

 
@media (max-width: 600px) {
  .firstimg, .secondimg, .thirdimg {
    flex-direction: column;
    text-align: center;
  }

  img {
    width: 100px;
    height: 100px;
  }
}