* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 20px;
  justify-content: center;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.linear1 {
  background: linear-gradient(to right, red, yellow);
}

.linear2 {
  background: linear-gradient(45deg, blue, lightgreen);
}

.linear3 {
  background: linear-gradient(to bottom, pink, purple);
}

.radial1 {
  background: radial-gradient(circle, orange, red);
}

.radial2 {
  background: radial-gradient(circle, lightblue, darkblue);
}

.radial3 {
  background: radial-gradient(circle, lightgreen, green);
}
.conic1 {
  background: conic-gradient(red, yellow, green, blue, red);
}

.conic2 {
  background: conic-gradient(from 45deg, pink, violet, cyan, pink);
}

.conic3 {
  background: conic-gradient(orange, purple, lime, orange);
}
