* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: antiquewhite;
}
.container {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
}
.heading {
    background-color: rgb(255, 0, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.navbar {
    display: flex;
    gap: 40px;
}
.image img{
    width: 100%;
    height: 300px;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    object-fit: cover;
}
.layout {
    background-color: rgb(240, 255, 127);
    /* width: 80%; */
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid black;
    width: fit-content;
}

.main {
    padding-left: 15px;
}

.footer {
    background-color: rgb(239, 245, 246);
    display: flex;
    justify-content: space-around;
}
.footer ul {
    list-style: none;
}
@media  screen and (max-width: 600px) {
     .heading {
        background-color: red;
        display: table-column;
     }
}

@media screen and (min-width: 700px) {
    .footer {
        background-color: blue;
    }
}
@media screen and (min-width:601px) and (max-width:699px) {
    .layout {
        background-color: chartreuse;
        display: table-column;
    }
    
}
@media  screen and (max-width:800px) {
    .footer {
        display:table-column;
    }
}
@media screen and (max-width:800px) {
    .image {
        width: 40%;
        
        
    }
}
    
