
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}
 
header {
    background: #222;
    /* color: white; */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 
main {
    margin-left: 220px;
    padding: 20px;
}

#userSidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background: #333;
    /* color: white; */
    padding: 20px;
}

#userSidebar h3 {
    margin-top: 0;
}

#userSidebar ul {
    list-style: none;
    padding: 0;
}

#userSidebar li {
    padding: 8px 0;
}
 
input, select, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.platforms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}
 
#movieList, 
#historyList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 15px;
}

.movie-card {
    background: white;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
}

.movie-card button {
    margin: 5px 0;
    width: 100%;
    background: #222;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
}


#modal.hidden {
    display: none;
}

#modal {
    position: fixed;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.modal-content {
    background: white;
    width: 300px;
    padding: 20px;
    margin: 150px auto;
    border-radius: 8px;
    text-align: center;
}
