* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: antiquewhite;
}
.container {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
}
.heading {
    background-color: rgb(255, 0, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.navbar {
    display: flex;
    gap: 40px;
}

.layout {
    background-color: rgb(240, 255, 127);
    /* width: 80%; */
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid black;
    width: fit-content;
}

.main {
    padding-left: 15px;
}

.footer {
    background-color: rgb(239, 245, 246);
    display: flex;
    justify-content: space-around;
}
.footer ul {
    list-style: none;
}