 *, 
 *::after,
 *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 h1 {
    text-align: center;
    margin: 100px 0 50px 0;
 }

 .que-title {
    margin: 0 10%;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    background: violet;

    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 10%;
 }

 .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
 }

 .options button {
    /* width: 30%; */
  text-align: center;
  font-size: 1.5rem;
  background-color:rgb(234, 233, 233)  ;
  color: black;
  border: 3px solid grey;
  border-radius: 10px;
  padding: 10px ;
  margin: 10px 0;
 }

.options button:last-of-type {
  /* width: 10%; */
  margin-top: 30px;
  margin-right: 0;
  margin-left: 13%;
  border: 1px solid orange;
  /* padding: 20px 40px; */
  border-color: transparent;
  background-color:rgb(227, 194, 132) ;
}

.score {
  display: none;
}
