body {
  margin-top: 50px;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}
 
input, select, button {
  padding: 8px 12px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}
 
input[type="password"],
input[type="date"],
input[type="time"],
input[type="file"],
select {
  width: 250px;
}
 
input[type="checkbox"],
input[type="radio"] {
  margin: 10px 5px;
  width: 17px;
  height: 17px;
}
 
select {
  background: #fff;
  cursor: pointer;
}
 
button {
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
